<h2 class="page-header">تعديل كتاب</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/books">اغاء</a>
    <button class="btn btn-primary" type="submit">تحديث</button>
  </div>
</form>