<header>
    <nav>
        <a href="/">مكتبتي</a>
        <ul>
            <li><a href="/authors">كاتب</a></li>
            <li><a href="/authors/new">اضافة كاتب</a></li>
            
        </ul>
    </nav>
</header>