<h2 class="page-header">كاتب جديد</h2>
<form action="/authors" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/authors">الغاء</a>
    <button class="btn btn-primary" type="submit">اضافة</button>
  </div>
</form>